@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2><a href="/Pet/Add">Add a new Pet</a>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>Species</th>
        <th>Weight</th>
        <th></th>
    </tr>


    @foreach(var Pet in Model)
    {
    <tr>
        <td><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></td>
        <td>@Pet.Species.Name</td>
        <td>@Pet.Weight</td>
        <td>
            <span><a href="/Pet/Update/@Pet.PetID">Update Pet</a></span> |
            <span><a href="/Pet/Delete/@Pet.PetID">Delete Pet</a></span>
        </td>
    </tr>
    }

</table>