@model PetGrooming.Models.Species

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="POST" action="/Species/Add">
    <!--using htmlhelper again -->
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        <div>
            @Html.EditorFor(model => model.Name)
        </div>
    </div>

    
    <input type="submit" value="Add Species">
</form>


